.cell {
    height: 100%;
    display: flex;
    align-items: center;
    /* vertical-align: bottom; */
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.cell-content {
    width: 100%;
    padding: var(--cell-padding, 0 12px);
    position: relative;
    box-sizing: border-box;
    /* display: flex;
    align-items: center; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cell-editing {
    padding: 0;
    overflow: visible;
    height: 100%;
}

.cell-selected {
    background: var(--cell-selected-background, rgba(0, 145, 234, 0.2)) !important;
}

.cell-filling {
    background: var(--cell-filling-background, rgba(245, 223, 25, 0.2)) !important;
}

.cell-filling-left-boundary {
    border-left: 1px dashed var(--cell-filling-boundary-color, #f8b013) !important;
}

.cell-filling-right-boundary {
    border-right: 1px dashed var(--cell-filling-boundary-color, #f8b013) !important;
}

.cell-filling-top-boundary {
    border-top: 1px dashed var(--cell-filling-boundary-color, #f8b013) !important;
}

.cell-filling-bottom-boundary {
    border-bottom: 1px dashed var(--cell-filling-boundary-color, #f8b013) !important;
}

.cell-left-boundary {
    border-left: 1px solid var(--cell-selected-boundary-color, #0091ea) !important;
}

.cell-right-boundary {
    border-right: 1px solid var(--cell-selected-boundary-color, #0091ea) !important;
}

.cell-top-boundary {
    border-top: 1px solid var(--cell-selected-boundary-color, #0091ea) !important;
}

.cell-bottom-boundary {
    border-bottom: 1px solid var(--cell-selected-boundary-color, #0091ea) !important;
}

.cell-editing-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: var(--cell-editing-z-index, 2);
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    background: var(--cell-editing-popup-background, #ffffff);
    border: var(--cell-editing-popup-border, none);
}

.cell-popup-container {
    position: absolute;
    z-index: 99999;
}

.cell-fill-handler {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--primary-color, #0091ea);
    right: 0;
    bottom: 0;
    cursor: cell;
}
