.header-column {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 12px;
    border-right: 1px solid var(--border-color);
    box-sizing: border-box;
}
/* .header-column:last-of-type {
    border-right: none;
} */

.header-column span:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-column .column-icon {
    flex-shrink: 0;
    cursor: pointer;
}

.header-column .column-icon-hiden {
    opacity: 0;
    transition: .1s ease;
}

.header-column .column-icon-hiden:hover {
    opacity: 1;
}

.column-resize-holder {
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    cursor: col-resize;
    z-index: var(--column-z-index, 2);
}
