.root {
    font-size: var(--default-font-size);
    user-select: none;
    position: relative;
    color: var(--foreground-color, #333);
}

.grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--background-color, #fff);
    border-radius: var(--border-radius, none);
    width: 100%;
    height: 100%;
}

/* headers and cells */

.normal-cells {
    position: relative;
}

.normal-cells-view-port {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.normal-cells,
.normal-columns {
    flex-grow: 1;
    overflow: hidden;
}

.pinned-right-cells,
.pinned-right-columns {
    z-index: var(--pinned-z-index, 1);
    box-shadow: var(--column-pinned-right-shadow, none);
    border-left: 1px solid var(--border-color);
}
.pinned-left-cells,
.pinned-left-columns {
    z-index: var(--pinned-z-index, 1);
    box-shadow: var(--column-pinned-left-shadow, none);
}

/* body */
.body {
    height: 0;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    outline: none;
}

.pinned-top-rows {
    flex-shrink: 0;
    z-index: var(--pinned-body-z-index, 2);
    border-bottom: 1px solid var(--border-color);
    box-shadow: var(--rows-pinned-top-shadow, rgba(0, 0, 0, 0.05) 0px 5px 5px, rgb(230 230 229) 0px 0px 0px);
}

.pinned-bottom-rows {
    flex-shrink: 0;
    z-index: var(--pinned-body-z-index, 2);
    border-top: 1px solid var(--border-color);
    box-shadow: var(--rows-pinned-bottom-shadow, rgba(0, 0, 0, 0.05) 0px -5px 5px, rgb(230 230 229) 0px 0px 0px);
}

.pinned-bottom-rows .row-cells:last-of-type .cell,
.pinned-top-rows .row-cells:last-of-type .cell {
    border-bottom: none;
}

.no-border {
    border: none;
}

/* scroll */
.horizontal-scroll {
    width: 100%;
    position: relative;
    flex-shrink: 0;
    display: flex;
    border-top: 1px solid var(--border-color);
    z-index: var(--horizontal-scroll-z-index, 1);
}

.horizontal-right-spacer,
.horizontal-left-spacer,
.horizontal-scroll-view {
    overflow: hidden;
    background: var(--header-background-color);
}
.horizontal-scroll-view {
    overflow-x: scroll;
}
.horizontal-scroll-container {
    overflow: scroll;
}
.horizontal-right-spacer,
.horizontal-left-spacer {
    flex-shrink: 0;
}
.horizontal-left-spacer {
    border-right: 1px solid var(--border-color);
}
.horizontal-right-spacer {
    border-left: 1px solid var(--border-color);
}

/* hiddens */
.column-resizer {
    width: 0;
    height: 100%;
    background-color: var(--header-resizer-active-color);
    position: absolute;
    top: 0;
    left: 0;
    cursor: col-resize;
    z-index: var(--column-resizer-z-index, 2);
}

/* row draging */

.row-drag-indicator {
    height: 2px;
    width: 100%;
    background-color: var(--row-drag-indicator-background, --primary-color);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: var(--row-drag-indicator-z-index, 2);
    opacity: var(--row-drag-indicator-opacity, 0.2);
}

.row-drag-ghost {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--background-color, #ffffff);
    color: var(--foreground-color, red);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    font-size: var(--default-font-size, 12px);
    padding: 0 10px;
}

.ghost-icon {
    padding-right: 10px;
}

/* loading */
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--loading-background, rgba(255, 255, 255, 0.8));
    z-index: var(--loading-z-index, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 1px;
    background: var(--loading-forground, var(--primary-color));
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.1s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.3s;
}
.dot:nth-child(4) {
    animation-delay: 0.4s;
}
.dot:nth-child(5) {
    animation-delay: 0.5s;
}

@keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
