.index-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-wrapper:hover .index-enlarge {
    opacity: 1;
}

.index-enlarge {
    opacity: 0;
    cursor: pointer;
    transition: all .1s ease;
}