.inline-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #bdbdbd;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    border-radius: 2px;
}

.inline-checkbox-checked {
    background-color: var(--primary-color, #bdbdbd);
    border-color: var(--primary-color, #bdbdbd);
}
