
.inline-input {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: #000000d9;
    background-color: #fff;
    background-image: none;
    border: 1px solid #0091ea;
    transition: all 0.3s;
}
