.row-cells {
    display: flex;
    /* display: inline-block; */
    white-space: nowrap;
    background-color: var(--row-background, #fff);
}

.row-stripe-cells .cell {
    background-color: var(--row-stripe-background, transparent);
}

.row-cells.row-cells-hover .cell {
    background-color: var(--row-hover-background, transparent);
}

.row-cells.row-cells-select .cell {
    background-color: var(--row-select-background, transparent);
}
