
.header {
    position: relative;
    display: flex;
    flex-shrink: 0;
    background-color: var(--header-background-color);
}

.header-columns {
    display: flex;
    color: var(--header-foreground-color);
    font-weight: 600;
    white-space: nowrap;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.header-container {
    height: 100%;
    width: auto;
    overflow-x: visible;
}

.normal-columns {
    flex-grow: 1;
    overflow: hidden;
}

.pinned-right-columns {
    z-index: var(--pinned-z-index, 1);
    border-left: 1px solid var(--border-color);
}

.pinned-left-columns {
    z-index: var(--pinned-z-index, 1);
}

/* drag */
.column-drag-indicator {
    width: 100px;
    height: 100%;
    background-color: var(--row-drag-indicator-background, --primary-color);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: var(--row-drag-indicator-z-index, 2);
    opacity: var(--row-drag-indicator-opacity, 0.2);
}

.column-drag-ghost {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--background-color, #ffffff);
    color: var(--foreground-color, red);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    font-size: var(--default-font-size, 12px);
    padding: 0 10px;
}

.ghost-icon {
    padding-right: 10px;
}
