@font-face {
  font-family: 'vgrid';
  src:
    url('fonts/vgrid.ttf?u6uzzc') format('truetype'),
    url('fonts/vgrid.woff?u6uzzc') format('woff'),
    url('fonts/vgrid.svg?u6uzzc#vgrid') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="vg-"], [class*=" vg-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vgrid' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vg-skin:before {
  content: "\e900";
}
.vg-cheveron-down:before {
  content: "\e903";
}
.vg-cheveron-left:before {
  content: "\e904";
}
.vg-cheveron-right:before {
  content: "\e905";
}
.vg-cheveron-up:before {
  content: "\e906";
}
.vg-menu:before {
  content: "\e901";
}
.vg-grid:before {
  content: "\e902";
}
.vg-copy:before {
  content: "\e92c";
}
.vg-paste:before {
  content: "\e92d";
}
.vg-pin:before {
  content: "\e946";
}
.vg-download:before {
  content: "\e960";
}
.vg-upload:before {
  content: "\e961";
}
.vg-undo:before {
  content: "\e967";
}
.vg-redo:before {
  content: "\e968";
}
.vg-spinner:before {
  content: "\e97a";
}
.vg-enlarge:before {
  content: "\e989";
}
.vg-shrink:before {
  content: "\e98a";
}
.vg-enlarge-simplicit:before {
  content: "\e98b";
}
.vg-shrink-simplicit:before {
  content: "\e98c";
}
.vg-star-empty:before {
  content: "\e9d7";
}
.vg-star-half:before {
  content: "\e9d8";
}
.vg-star-full:before {
  content: "\e9d9";
}
.vg-checkmark:before {
  content: "\ea10";
}
.vg-checkbox-checked:before {
  content: "\ea52";
}
.vg-checkbox-unchecked:before {
  content: "\ea53";
}
.vg-radio-checked:before {
  content: "\ea54";
}
.vg-radio-unchecked:before {
  content: "\ea56";
}
.vg-filter:before {
  content: "\ea5b";
}
.vg-formula:before {
  content: "\ea67";
}
.vg-paragraph:before {
  content: "\ea7a";
}
.vg-file-excel:before {
  content: "\eae2";
}
